[Unit]
Description=ag9032v1 ledcontrol
After=ag9032v1_platform_modules.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/led_status.sh
Restart=yes

[Install]
WantedBy=multi-user.target
